<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag("home.css") %>
	</head>
	<body>
		<% if !flash[:notice].blank? || !flash[:alert].blank? %>
		   <div class = "alert alert-info">
		      <%= flash[:notice] %>
			  <%= flash[:alert] %>
		   </div>
		<% end %>
		<div class="container-fluid">
			<div class="jumbotron">
				<h1>Introducing AdShow</h1>
				<p>Bringing convenience to the digital marketer’s toolkit.</p>
				<p>Preview your ad campaign set-ups with simple CSV uploads.</p>
			</div>
			<div class="row">
			  <div class="col-md-4">
			  	<h4>What is this?</h4>
				<p>When agencies communicate with clients, it's often difficult to convey through words
					what a new advertising campaign is going to look like visually. What exactly is a
					Google text ad? What are promoted tweets and Facebok news feed posts? What are
					the components of each? AdShow helps to make the answers to these questions come alive.</p>
			  </div>
			  <div class="col-md-4">
			  	<h4>What have we done?</h4>
				<p>We're trying to bridge the gap between PPC agencies and their clients. AdShow takes the 
					data and creative from your Twitter, Facebook, and AdWords Search Network campaigns and gives you back
					a fleshed-out, visual preview of how your ads will ultimately appear in the wild. Simply upload one
					of our accepted CSV templates to begin.</p>
			  </div>
			  <div class="col-md-4">
			  	<h4>Ready to get started?</h4>
				<p>Sign up, log in, and upload your campaign data today!</p>
			  </div>
			</div>
		</div>
	</body>
</html>