<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag("home.css") %>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<h1>Introducing TextAdExport</h1>
				<p>Bringing convenience back to the digital marketer’s toolkit</p>
			</div>
			<div class="row">
			  <div class="col-md-4">
			  	<h4>What is this?</h4>
				<p>When Google launched AdWords editor version 11.0 in late 2014, were were forced to say
					goodbye to one of the tool's most under-appreciated features: HTML Export. For many
					agencies, that piece of the software was a crucial tool for client communication.
					So, we decided to do something about it.</p>
			  </div>
			  <div class="col-md-4">
			  	<h4>What have we done?</h4>
				<p>We're trying to bridge the gap between PPC agencies and their clients. We want to
					end the tiring process of copying and pasting ad copy into spreadsheets and 
					formatting campaign configurations for readability. Simply export an account
					as a CSV from AdWords Editor, uploaded it into TextAdDisplay, and sit back
					as the magic happens.</p>
			  </div>
			  <div class="col-md-4">
			  	<h4>Ready to get started?</h4>
				<p>Sign up, log in, and upload your campaign data today!</p>
			  </div>
			</div>
		</div>
	</body>
</html>