<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag("home.css") %>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<h1>Introducing AdShow</h1>
				<p>Bringing convenience to the digital marketer’s toolkit</p>
			</div>
			<div class="row">
			  <div class="col-md-4">
			  	<h4>What is this?</h4>
				<p>When agencies communicate with clients, it's often difficult to convey through words
					how a new advertising campaign is going to look like visually. What exactly is a
					Google text ad? What are promoted tweets and Facebok news feed posts? What are
					the components of each? AdShow helps make the concepts come alive.</p>
			  </div>
			  <div class="col-md-4">
			  	<h4>What have we done?</h4>
				<p>We're trying to bridge the gap between PPC agencies and their clients. We want to
					make visualizing different ad types on various platforms as easy as uploading
					a CSV and downloading a PDF. We provide CSV templates for Facebook and Twitter,
					and if you want an alternative for Google AdWords Editor's HTML export, 
					simply export your campaigns as a CSV and upload it to our platform. The formatted 
					visual export will be available within seconds.</p>
			  </div>
			  <div class="col-md-4">
			  	<h4>Ready to get started?</h4>
				<p>Sign up, log in, and upload your campaign data today!</p>
			  </div>
			</div>
		</div>
	</body>
</html>