@charset "UTF-8";

p {
	margin-left: 30px;
}

.adgroup {
	margin-left: 10px;
	border-left: 2px solid gray;
}

.adgroupinfo {
	margin-left: 20px;
}

.campinfo {
	margin-left: 30px;
}

td {
	padding-left: 5px;
	padding-right: 5px;
}

.campaign, .adgroup, .keywords, .negatives {
	display: block;
}

.textad {
	font-family: Arial;
	display: inline-block;
	width: 255px;
	margin: 0 10px 10px 0;
}

.headline, .dispurl, .desc {
	margin-left: 3px;
}

h2 {
	margin-left: 40px;
}

h3 {
	margin: 15px 0 15px 25px;
}

.campinfo, .campinfo tr, .campinfo td, .adgroupinfo, .adgroupinfo tr, .adgroupinfo td, .keywords tr, .keywords td, .keywords th, .negatives tr, .negatives td, .negatives th, .textad {
	border: 1px solid black;
}

.campaign, .adgroup, .campinfo td, .adgroupinfo td, .textads, .keywords, .negatives {
	padding: 0 10px 0 20px;
}

th {
	padding: 0 5px 0 5px;
}

.headline {
	color: blue;
	text-decoration: underline;
}

.dispurl {
	color: green;
}

/***/

.tweet {
	font-family: Helvetica;
}

.handle {
	color: gray;
	font-size: 14px;
}

.tweet {
	margin-left: 50px;
	width: 550px;
	border: 1px solid gray;
	border-radius: 15px;
	page-break-inside: avoid;
}

.tweetxt{
	width: 90%;
}

.twitpic, .acctinfo, .tweetxt {
	float: left;
	display: inline-block;
}

.acctinfo {
	margin-top: 5px;
}

.promotedby {
	color: gray;
	font-size: 12px;
	display: block;
	margin: 30px 0 0 50px;
}

.interactions {
	margin-left: 55px;
	font-size: 14px;
}

.tprofpic {
	margin: 5px 5px 0 5px;
	border-radius: 5px;
}

.card {
	border-radius: 15px;
	display: block;
	margin-left: 30px;
	border: 1px solid #F8F8F8;
}

.headurl {
	width: 60%;
	font-size: 12px;
	display: block;
	margin: 5px 0 0 50px;
	float: left;
}

.url {
	color: gray;
}

.cta {
	font-size: 12px;
	background-color: #F8F8F8;
	text-align: center;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 5px 50px 0 0;
	display: block;
	float: right;
	width: 100px;
	height: 40px;
	line-height: 40px;
}

/***/

.adset h3 {
	margin-left: 50px;
}

.adtype {
	margin-left: 50px;
}

.fbdesktopad, .fbmobilead, .fbrcolad {
	margin-left: 50px;
}

.fbdesktopad {
	font-family: Helvetica;
	width: 495px;
	height: 485px;
	border: 1px solid gray;
	page-break-inside: avoid;
}

.fbprofname {
	color: #003399;
	font-size: 14px;
}

.sponsored {
	font-size: 12px;
	color: #585858;
}

.fbdeskpropic, .fbacctinfo, .desktoplike, .picdesktop, .desktopheadinf, .desktopbuttons {
	margin: 5px 0 5px 15px;
}

.fbdesktopad, .fbpropic, .fbdeskpropic, .desktoplike, .bigadpic, .fbmobilead, .fbrcolad {
	border-radius: 3px;
}

.fbdeskpropic, .fbacctinfo {
	float: left;
	display: inline-block;
}

.desktoplike {
	float: right;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	border: 1px solid gray;
	font-size: 13px;
	color: #585858;
	width: 95px;
	height: 20px;
}

.desktoptext{
	font-size: 13px;
	float: left;
	margin: 5px 15px 0 -10px;
}

.desktopheadinf {
	line-height: 15px;
	margin: 0 15px 0 20px;
}

.desktopheadinf .headline {
	font-family: Times;
	font-size: 18px;
}

.desktoplinkdesc, .deskdispurl {
	font-size: 14px;
} 

.desktoplinkdesc {
	margin-left: 0;
}

.fbdesktopad .headline {
	color: black;
	text-decoration: none;
	margin-left: 0;
}

.deskdispurl {
	color: #B0B0B0;
}

.deskcta {
	display: inline-block;
	float: right;
	font-size: 13px;
	margin: -15px 40px 0 0;
	border: 1px solid #B0B0B0;
	border-radius: 3px;
	padding: 3px 5px 3px 5px;
}

/***************/
.fbmobilead {
	font-family: Helvetica;
	width: 320px;
	height: 390px;
	border: 1px solid gray;
	page-break-inside: avoid;
}

.mobprofname {
	color: black;
	font-size: 14px;
}

.fbmobilepropic, .fbacctinfo, .mobilelike, .picmobile, .mobileheadinf {
	margin: 5px 0 5px 5px;
}

.fbmobilepropic, .fbacctinfo {
	float: left;
	display: inline-block;
}

.mobilelike {
	float: right;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 13px;
	color: #585858;
}

.mobiletext{
	font-size: 13px;
	float: left;
	margin: 5px 5px 0 -10px;
}

.mobileheadinf {
	line-height: 15px;
	margin: 0 15px 0 0;
}

.mobileheadinf p {
	margin-left: 15px;
}

.mobileheadinf .mobheadline {
	font-family: Times;
	font-size: 20px;
}

.moblinkdesc, .mobdispurl {
	font-size: 13px;
}

.mobdispurl {
	color: #B0B0B0;
	margin-left: 15px;
}

.mobcta {
	display: inline-block;
	float: right;
	font-size: 13px;
	margin: -15px 20px 0 0;
	padding: 3px 5px 3px 5px;
	border: 1px solid #B0B0B0;
	border-radius: 3px;
}

/***************/
.fbrcolad {
	font-family: Helvetica;
	height: 235px;
	width: 280px;
	border: 1px solid gray;
	page-break-inside: avoid;
}

.rcolpic {
	margin: 5px 10px 0 10px;
}

.fbrcolad p {
	margin-left: 15px;
}

.rcolheadline, .rcolurl {
	font-size: 12px;
	color: #003399;
}

.rcolheadinf {
	line-height: 5px;
	margin: 0 10px 0 0;
}

.rcoltext {
	margin: 0 10px 0 0;
	font-size: 11px;
}