	<footer>
		<p>Copyright &copy; 2015 by <a href="http://www.upwordsem.com/" target="blank">UpWord Search Marketing.</a> All Rights Reserved</p>
		<div class="upwordlogo">
			<%= wicked_pdf_image_tag("upword-logo.png", size: "130x33") %>
		</div>
	</footer>